<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>USERS</title>
</head>
<body>


<h3>
    <ul th:each="user : ${allUsers}">
        <a th:href="@{/{id}(id=${user.getId()})}" th:text="${user.getName()}">Пользователь</a>
        <a th:href="@{/{id}/edit(id=${user.getId()})}">Редактировать</a>
        <a th:href="@{delete/{id}(id=${user.getId()})}">Удалить</a>
    </ul>
</h3>

<h2>
    <ul>
        <a th:href="@{/new}">Добавить пользователя</a>
    </ul>
</h2>
</body>
</html>
